*~
*.jl~
*.jl.cov
*.jl.mem
/src/ParamPC.jl~
/src/MixPC.jl~
/src/ModPC.jl~
/test/ParamPC_test.jl~
/src/rand.jl~
/src/utils.jl~
/src/ccwRotations.jl~
/src/cdf.jl~
/src/rotations.jl~
/src/PairCop.jl~
/src/paramCops.jl~
/src/transform.jl~
/Makefile~
/test/build/r_cop_funcs.R~
/test/instructions.md~
/test/r_cop_funcs.Rout
/.sass-cache/
/UnitTests/
/_site/
/src/wstPlotting.jl~
/src/plotting.jl~
/NO_GIT/
/src/testFuncs.jl~
/deps/build.jl~
/.ipynb_checkpoints/
/.juliahistory
/src/PCC/Vines/Vines.jl~
/src/PCC/Vines/utils.jl~
/src/PCC/Vines/vineConstruction.jl~
